<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq6tcgjAhk4-ZTMPANhI0mJrzZivAjsp8</string>
	<key>GCM_SENDER_ID</key>
	<string>474879716971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pummart</string>
	<key>PROJECT_ID</key>
	<string>pummart-fc336</string>
	<key>STORAGE_BUCKET</key>
	<string>pummart-fc336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474879716971:ios:3768e4e5a099212e1dcb2e</string>
</dict>
</plist>